@model LibraryManagement.Models.BookBorrower

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookBorrower</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BooksIssued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BooksIssued)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CardNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
